body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(120deg, #eef2ff, #f8fbffd1);
  margin: 0;
  padding: 0;
}

.wrap {
  max-width: 1050px;
  margin: 30px auto;
  padding: 20px 25px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #1d3557;
}

textarea, input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

label {
  margin-top: 12px;
  display: block;
  font-weight: bold;
  color: #444;
}

button {
  width: 100%;
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  background: linear-gradient(90deg, #1d3557, #457b9d);
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#output {
  margin-top: 14px;
  font-size: 16px;
  color: #1d3557;
  text-align: center;
}

svg {
  width: 100%;
  height: 450px;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 16px;
  border: 1px solid #ccc;
}

circle {
  transition: 0.2s;
}

circle:hover {
  fill: #ffd166 !important;
}

path.edge {
  stroke-width: 2;
  fill: none;
}

path.shortest {
  stroke: red;
  stroke-width: 4;
}

text {
  font-family: monospace;
  fill: #111;
}
